<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.felixidan.session4b">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DatabaseDemoActivity"
            android:label="@string/title_activity_database_demo" />
        <activity
            android:name=".NoSQLContentProviderDemoActivity"
            android:label="@string/title_activity_no_sqlcontent_provider_demo" />
        <activity
            android:name=".SQLContentProviderDemoActivity"
            android:label="@string/title_activity_sqlcontent_provider_demo" />
        <activity
            android:name=".SqlInjectionDemoActivity"
            android:label="@string/title_activity_sql_injection_demo"></activity>
        
        <provider
            android:authorities="com.example.felixidan.session4b.nosql.provider"
            android:name=".NoSQLContentProvider" />
        <provider
            android:authorities="com.example.felixidan.session4b.sql.provider"
            android:name=".SQLContentProvider" />

    </application>

</manifest>
